#jumbo
{
    margin-top: 1px;
    padding: 0;
    opacity: .68;
    max-height: 20%;
}

#mainText
{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 250px;
    color: white;
}

#backGroundVideo
{
    position: relative;
    
}

h1{
    font-size: 75px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif!important
}